[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
aiohttp = "==3.8.3"
dataclasses-json = "*"
marshmallow = "*"
aiosqlite = "*"

[dev-packages]
alive-progress = "*"

[requires]
python_version = "3.11"
